In [1]:
import boto3
import pandas as pd
import numpy as np

In [3]:
def download_file_from_s3(bucket, object_name, local_file_name):
    """
    Download a file from S3 to the local file system.

    :param bucket: Name of the S3 bucket
    :param object_name: S3 object name
    :param local_file_name: Local file name to save the downloaded file
    """
    # # When using IAM roles, boto3 retrieves credentials from the instance metadata
    # s3_client = boto3.client('s3')

    #When setting up credentials locally, use the following code
    session = boto3.Session()
    s3_client = session.client('s3')

    s3_client.download_file(bucket, object_name, local_file_name)

bucket_name = 'myukdata'
s3_file_name = 'Original/Member/Member_HouseMemberships.csv'
local_file = 'Member_HouseMemberships.csv'

download_file_from_s3(bucket_name, s3_file_name, local_file)

In [4]:
df = pd.read_csv('Member_HouseMemberships.csv')
df.info()
pd.set_option('display.max_rows', None)
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5306 entries, 0 to 5305
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   memberID            5306 non-null   int64
 1   house               5306 non-null   int64
 2   name                5306 non-null   object
 3   id                  5306 non-null   int64
 4   startDate           5306 non-null   object
 5   endDate             3838 non-null   object
 6   additionalInfo      5306 non-null   object
 7   additionalInfoLink  0 non-null      float64
dtypes: float64(1), int64(3), object(4)
memory usage: 331.8+ KB

,memberID,house,name,id,startDate,endDate,additionalInfo,additionalInfoLink
0,1,1,Commons,1,1997-05-01T00:00:00,2010-05-06T00:00:00,Patrick Hall,NaN
1,2,1,Commons,1,1997-05-01T00:00:00,2019-11-06T00:00:00,Kelvin Hopkins,NaN
2,3,1,Commons,1,1997-05-01T00:00:00,2010-05-06T00:00:00,Margaret Moran,NaN
3,4,1,Commons,1,1997-05-01T00:00:00,2005-05-05T00:00:00,Mr Jonathan Sayeed,NaN
4,4,1,Commons,1,1983-06-09T00:00:00,1992-04-09T00:00:00,Mr Jonathan Sayeed,NaN

In [5]:
df.drop(columns=['additionalInfo',
                 'additionalInfoLink',
                 'house',
                 'id'], inplace=True)

df.rename(columns={'memberID': 'memberId',
                     'name': 'houseName'}, inplace=True)
df['startDate'] = pd.to_datetime(df['startDate'])
df['endDate'] = pd.to_datetime(df['endDate'])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5306 entries, 0 to 5305
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   memberId   5306 non-null   int64
 1   houseName  5306 non-null   object
 2   startDate  5306 non-null   datetime64[ns]
 3   endDate    3838 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(1)
memory usage: 165.9+ KB